.card {
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;
    cursor: pointer;
    gap: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 26px;
    transition: all 0.25s ease;
}

.card-primario {
    background: var(--text);
    color: var(--text-card);
    transition: all 0.3s ease;
}

.card-primario:hover {
    background: var(--text-h);
    color: var(--text);
}

.card-secundario {
    background: var(--text);
    color: var(--text);
    transition: all 0.3s ease;
}

.card-terceiro {
    background: var(--text);
    color: var(--text);
    transition: all 0.3s ease;
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCard {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 8px;
}

.card-primario .iconCard,
.card-primario .titleCard,
.card-primario .textCard {
    color: var(--text-card);
}

.card-secundario .iconCard,
.card-secundario .titleCard,
.card-secundario .textCard {
    color: var(--text);
}

.card-terceiro .iconCard,
.card-terceiro .titleCard,
.card-terceiro .textCard {
    color: var(--text);
}

.card-primario .titleCard {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    align-self: center;
    text-align: center;
}

.card-primario:hover .iconCard,
.card-primario:hover .titleCard,
.card-primario:hover .textCard {
    color: var(--text);
}

.cardContent {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.overlay {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.548),
            rgba(0, 0, 0, 0.5));
}

.cardDetails {
    opacity: 1;
    transform: none;
}

.card.card-primario:not(.card-image) {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.card.card-secundario.card-image {
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
}

.card.card-terceiro.card-image {
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
}

.card-image .titleCard {
    transform: translateY(190px);
    transition: transform 0.4s cubic-bezier(.22,1,.36,1);
}

.card-image.card-terceiro .titleCard {
    transform: translateY(70px);
}

.card-image:hover .titleCard {
    transform: translateY(0);
}

.card-image .hoverReveal {
    opacity: 0;
    transform: translateY(20px);
    transition: .35s ease;
    
}

.card-image:hover .hoverReveal {
    opacity: 1;
    transform: translateY(0);
}

.card-image .cardDetails {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.35s ease;
}

.card-image:hover .cardDetails {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.card-image:hover .overlay {
    background: linear-gradient(to top,
            rgb(0, 0, 0),
            rgba(0, 0, 0, 0.651));
}

.card-image {
    position: relative;
    overflow: hidden;
    align-items: flex-end;
    padding: 24px;
}

.cardBackgroundImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

.overlay {
    position: absolute;
    inset: 0;
    transition: 0.4s ease;
}

.cardButton {
    margin-top: 14px;
    padding: 10px 18px;
    border-radius: 999px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.cardButton:hover {
    background: white;
    color: black;
}